#root {
  text-align: center;
  margin: 0;
}

.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
/* -------------------------------- header bang -----------------------------*/
header {
  position:absolute;
  top: 0;
  left: 0;
  width: 90%;
  padding: 30px 75px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navigasi a {
  text-decoration: none;
  color:#ffffff;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigasi a:hover {
  background:rgb(17, 80, 97);
  color:#ffffff;

}
/* --------------------- section satu -------------------------*/
.satu {
  height: 100vh;
  background: linear-gradient(to bottom, #00aeff, #fffd94);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.satu img {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#judul {
  position: absolute;
  font-size: 5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}


/*------------------------------- section dua --------------------*/
.dua {
  position: relative;
  padding: 100px;
  background: rgb(17, 80, 97);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

#background_nama {
  position: absolute;
  font-size: 7vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre; /* Menambahkan baris baru */
}

.dua img {
  display: flex;
  bottom: 10;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}
/*--------------------------------- container dua ---------------------*/
.container_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.imagebox {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
