#root {
  text-align: center;
  margin: 0;
}

.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
/* -------------------------------- header bang -----------------------------*/
header {
  position:absolute;
  top: 0;
  left: 0;
  width: 90%;
  padding: 30px 75px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navigasi a {
  text-decoration: none;
  color:#ffffff;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigasi a:hover {
  background:rgb(17, 80, 97);
  color:#ffffff;

}
/* --------------------- section satu -------------------------*/
.satu {
  height: 100vh;
  background: linear-gradient(to bottom, #00aeff, #fffd94);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.satu img {
  position:absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#judul {
  position: absolute;
  font-size: 5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

#muka {
  width: 30%;
  position: relative; /* Change this to relative to participate in the flexbox centering */
  margin: auto; /* This will center the image horizontally within its parent */
}


/*------------------------------- section dua --------------------*/
.dua {
  height: 100vh;
  background: rgb(17, 80, 97);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dua img {
  position:absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 50%;
  pointer-events: none;
}

.container_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

